body {
    background-color: blue; /* Cor de fundo azul */
    color: white; /* Cor da letra branca */
    font-family: Arial, sans-serif; /* Fonte Arial */
}

h1 {
    font-size: 30px; /* Tamanho da fonte dos títulos */
    text-align: center; /* Centraliza o texto */
}

p {
    font-size: 20px; /* Tamanho da fonte dos parágrafos */
}

img {
    display: block;
    margin: 0 auto; /* Centraliza a imagem */
}

a {
    color: yellow; /* Cor do link */
    .moldura {
        border: 5px solid white; /* Borda branca */
        padding: 20px; /* Espaçamento interno */
        margin: 20px; /* Margem externa */
        background-image: linear-gradient(to right, red, orange); /* Degradê de vermelho a laranja */
    }
    
}
